.expose {
  animation: expose 1s !important;
}

@keyframes expose {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.card_game {
  text-decoration: none !important;
  transition: 0.2s;
}

.card_game:hover {
  transform: scale(1.1);
}

.card_game:hover h4 {
  color: #0F90BA;
} 

.layout_card {
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.layout_card h4 {
  text-align: center;
  font-size: 22px;
}

.layout_card p {
  padding: 10px;
  font-size: 15px;
  font-style: italic;
  color: gray;
}